
<section id="team">
  <!-- <div class="card-container">
    <span class="pro">MCA</span>
    <img class="round" src="/assets/img/pro.jpg" alt="user" height="100px" />
    <h3>Sangeeth</h3>
    <h6>Trivandrum</h6>
    <p>User interface designer and <br/> front-end developer</p>
    <div class="buttons">
      <button class="primary">
        <a href="https://www.instagram.com/8th_trap/">
        Message
      </a>
      </button>
      <button class="primary ghost">
        Following
      </button>
    </div>
    <div class="skills">
      <h6>Skills</h6>
      <ul>
        <li>UI / UX</li>
        <li>Front End Development</li>
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node</li>
      </ul>
    </div>
  </div> -->
  
<div class="card1 row">

  <div class="product-card float-left" *ngFor="let team of TeamList">
          
      <div class="product-tumb">
         <img src="{{team.image}}" alt="image">
      </div>
      <div class="product-details">
          <span class="product-catagory"></span>
          <h4><a >{{team.name}}</a></h4>
          <p>Roll no:<span id="stream">{{team.Roll_no}}</span></p>
          <h6>Stream from:<span id="stream">{{team.stream}}</span></h6>
          <div class="buttons">
            <button class="primary">
              <a href="{{team.instagram}}">
              Connect
            </a>
            </button>
         
            <!-- <button class="primary ghost">
              Following
            </button> -->
          </div>
      </div>
  </div>
 
  </div>
  
  
</section>
