<section id="photo" class="skills section-bg">
<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="#photo">KungFu Panda</a>
			</div> 
			<a href="#photo">
                <img src="/assets/img/1669313173389 (1).jpg" height="380px"/>
            </a>
		</li>
		<li>
            <div class="image_title">
                <a href="#photo">Toy Story 2</a>
			</div>
			<a href="#photo">
                <img src="/assets/img/1668234034468 (1).jpg" height="400px"/>
            </a>
		</li>
		<li>
            <div class="image_title">
                <a href="#photo">Wall-E</a>
			</div>
			<a href="#photo">
                <img src="/assets/img/1668234598228.jpg" height="420px" >
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#photo">Up</a>
			</div>
			<a href="#photo">
				<img src="/assets/img/1668970693895 (1).jpg" height="380px"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#photo">Cars 2</a>
			</div>
			<a href="#photo">
				<img src="/assets/img/1668234002869.jpg" height="380px"/>
			</a>
		</li>
	</ul>
</div>
</section>

