<section id="photo" class="skills section-bg">
<div class="accordian">
    <ul>
		<li>
			<div class="image_title">
				<a href="#">KungFu Panda</a>
			</div> 
			<a href="#">
                <img src="/assets/img/WhatsApp Image 2022-11-22 at 7.56.07 PM (1).jpeg" height="380px"/>
            </a>
		</li>
		<li>
            <div class="image_title">
                <a href="#">Toy Story 2</a>
			</div>
			<a href="#">
                <img src="/assets/img/WhatsApp Image 2022-11-22 at 7.56.07 PM (2).jpeg" height="400px"/>
            </a>
		</li>
		<li>
            <div class="image_title">
                <a href="#">Wall-E</a>
			</div>
			<a href="#">
                <img src="/assets/img/WhatsApp Image 2022-11-22 at 7.56.06 PM.jpeg" height="420px" >
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Up</a>
			</div>
			<a href="#">
				<img src="/assets/img/WhatsApp Image 2022-11-22 at 7.56.07 PM (2).jpeg"/>
			</a>
		</li>
		<li>
			<div class="image_title">
				<a href="#">Cars 2</a>
			</div>
			<a href="#">
				<img src="/assets/img/WhatsApp Image 2022-11-22 at 7.56.07 PM (3).jpeg"/>
			</a>
		</li>
	</ul>
</div>
</section>

